.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  color: #770030;
}

.loadTitle {
  align-self: flex-start;
}

.loadLevel {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.button {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--athlete-primary);
  border-radius: 0.375rem;
  font-size: 0.85rem;
  outline: 3px solid;
  outline-color: transparent;
  background-color: #fff;
}

.sliderRoot {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: 230px;
  height: 20px;
  margin-bottom: 1.25rem;
}

.sliderTrack {
  background-color: var(--athlete-primary-transparent);
  position: relative;
  flex-grow: 1;
  border-radius: 9999px;
  height: 3px;
}

.sliderRange {
  position: absolute;
  background-color: var(--athlete-primary);
  border-radius: 9999px;
  height: 100%;
}

.sliderThumb {
  display: block;
  width: 15px;
  height: 15px;
  background-color: var(--athlete-accent);
  border-radius: 10px;
}

.loadDesc {
  margin-bottom: 1rem;
  font-size: 0.85rem;
}

.okButton {
  align-self: flex-end;
  color: var(--athlete-accent);
}
