.wrapper {
  color: #770030;
}

.title {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
  margin-bottom: 1rem;

  label,
  p {
    font-size: 0.9rem;
    font-weight: 500;
  }

  .formInput {
    width: 100%;
    padding: 0.5rem 0.75rem;
    border: 1px solid var(--athlete-primary);
    border-radius: 0.375rem;
    font-size: 0.85rem;
    outline: 3px solid;
    outline-color: transparent;
    color: #770030;
    background-color: #fff;
    transition: outline-color 0.3s ease;

    &:focus {
      outline-color: var(--athlete-primary-transparent);
    }

    &textarea {
      min-height: 80px;
      resize: none;
    }
  }

  input.hidden {
    opacity: 0;
    position: absolute;
    pointer-events: none;
  }
}

.error {
  color: #f00;
  font-size: 0.75rem;
}

.submitButton {
  width: 100%;
  margin: 0.7rem 0 0.8rem 0;
  padding: 0.75rem 1rem;
  text-align: center;
  background-color: var(--athlete-primary);
  color: #770030;
  border: none;
  border-radius: 9999px;
  font-size: 1rem;
  font-weight: 500;
  box-shadow: 0 2px 3.5px #77003088;
  cursor: pointer;
}

.deleteConfirmBtn {
  position: absolute;
  top: 2.5rem;
  right: 1.7rem;
  background: none;
  color: #f00;
  font-size: 0.9rem;
  font-weight: 500;
  outline: none;
}

.deleteBtn {
  padding: 0.8rem 1.5rem;
  border-radius: 999px;
  background-color: #bb0000;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  box-shadow: 0 2px 3.5px #800000aa;
  outline: none;
}

.deleteCancelBtn {
  font-weight: 500;
  color: #888;
  outline: none;
}

.timePickers {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.deleteModalContent {
  background-color: #fff5f5;
}

.deleteModalHandle {
  background-color: #770030;
}

.deleteModalBody {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.deleteWarning {
  text-align: center;
  color: #bb0000;
  font-weight: 500;
}

.deleteModalButtons {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
