.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 70vw;
  max-width: 300px;
  margin-bottom: 2rem;
  padding: 1rem 1.5rem;
  border: 5px solid transparent;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 0px 4px 12px 0px #0003;
  transition: border-color 0.3s ease;

  & input {
    display: none;
  }
}

.cardImg {
  width: 90%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
}

.cardTitle {
  font-size: 0.9rem;
  font-weight: 600;
}

.cardDesc {
  font-size: 0.75rem;
  color: #888;
  text-align: center;
}

.card.selected.athleteBorder {
  border-color: var(--athlete-primary);
}

.card.selected.trainerBorder {
  border-color: var(--trainer-primary);
}
